@import "tailwindcss";
@import "./rua.css";
@import "./catppuccin-highlight.css";

@custom-variant dark (&:is(.mocha *));

@theme {
  --font-Barlow: var(--font-barlow);
  --font-Poppins: var(--font-poppins);
  --font-Mono:
    var(--fonts-jetbrains-mono), DejaVu Sans Mono, -apple-system, monospace;
  --font-Lobster: var(--font-lobster);

  --color-bluish-gray: rgba(245, 247, 250);

  --color-rua-gray-100: #aabfc5;
  --color-rua-gray-600: rgb(66, 66, 66);
  --color-rua-gray-700: hsl(220, 13%, 18%);
  --color-rua-gray-800: rgb(35, 38, 38);
  --color-rua-gray-900: rgb(24, 25, 26);

  --shadow-outline: 0 0 0 3px rgba(83, 220, 246, 0.6);
  --shadow-underline: inset 0px -2px 0px 0px rgb(85 200 188 / 70%);
  --shadow-throughline: inset 0px -0.5em 0px 0px rgb(85 200 188 / 70%);
  --shadow-card:
    0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);

  --background-image-underline: linear-gradient(
    rgb(240 240 240),
    rgb(240 240 240)
  );
  --background-image-underline-dark: linear-gradient(
    rgb(110 110 110),
    rgb(160 160 160)
  );
}

@config "../tailwind.config.js";
@import "@catppuccin/tailwindcss/mocha.css";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  * {
    scroll-behavior: smooth;
  }

  *::selection {
    background: hsl(230, 1%, 90%);
    color: inherit;
  }

  .mocha *::selection {
    background: hsl(220, 13%, 28%);
    color: inherit;
    text-shadow: none;
  }
}

@layer base {
  body {
    @apply text-gray-600 bg-bluish-gray dark:bg-rua-gray-900 dark:text-gray-200;
    font-family:
      "Poppins",
      -apple-system,
      BlinkMacSystemFont,
      "Helvetica Neue",
      Helvetica,
      Segoe UI,
      Arial,
      Roboto,
      "PingFang SC",
      miui,
      "Hiragino Sans GB",
      "Microsoft Yahei",
      sans-serif;
  }

  img,
  iframe {
    @apply dark:brightness-75;
  }

  /* 滚动槽 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 3px;
    /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08); */
  }

  ::-webkit-scrollbar-track-piece {
    background: 0 0;
  }

  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(185, 69, 69, 0.2);
  }
}

/* code */
code.hljs {
  background: unset !important;
}
pre,
code {
  font-family:
    var(--font-jetbrains-mono), -apple-system, "DejaVu Sans Mono", monospace;
}

pre {
  @apply p-4 rounded;
  margin: 0.5em 0;
  overflow: auto;
  @apply bg-white dark:bg-rua-gray-700;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
